body {
  background-image: url("/home/alphania/Documents/week-3/img/nature.jpg");
}
h1 {
  color: teal;
}
.walrus-showing {
  display: none;
}
.clickable {
  cursor: pointer;
  color: #0088cc;
}
.clickable:hover {
        text-decoration: underline;
}
